.menu-icon {
    z-index: 19;
    position: relative;
    display: none;
	width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Условие для экранов с шириной от 0 до 1200px */
@media (max-width: 820px) {
    .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__site-navigation {
        display: block;
        position: absolute;
        top:0;
        left: -100%;
        width: 100%;
        height: 100vh;
        padding-left: 40px;
        text-align: left;
        background-color: #000000ef;
    }
    .header__site-navigation--active {
        left: 0;
    }
}

.menu-icon-line {
	position: relative;
	width: 30px;
	height: 5px;
	background-color: #fff;
}

.menu-icon-line::before {
	position: absolute;
	left: 0;
	top: -10px;
	content: '';
	width: 30px;
	height: 5px;
	background-color: #fff;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon-line::after {
	position: absolute;
	left: 0;
	top: 10px;
	content: '';
	width: 30px;
	height: 5px;
	background-color: #fff;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line {
	background-color: transparent;
}

.menu-icon.menu-icon-active .menu-icon-line::before {
	transform: rotate(45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line::after {
	transform: rotate(-45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}